// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~aos/dist/aos.css";

@import "~owl.carousel/dist/assets/owl.carousel.css";

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.owl-item.active.center {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.owl-item.active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
